// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #efefef !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.red_border {
    background-color: #8b181a;
}

.logo {
    max-width: 178px;
    font-family: Georgia, serif;

}

.main_body {
    h1 {
        font-family: Georgia, serif;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        color: #a7a9ac;
        letter-spacing: 5px;
        font-weight: lighter;
        line-height: 2;
    }
    p {
        font-family: Georgia, serif;
        color: #a7a9ac;
        line-height: 2.25;
        font-size: 16px;
    }
}

.appointment {
    text-align: center;
    p {
        text-align: center;
        font-family: Georgia, serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 8px;
        color: #a7a9ac;
        margin-bottom: 40px;
        a {
            font-family: Georgia, serif;
            color: #a7a9ac;
        }
    }
    p.appt {
        color: #6d6e71;
        font-size: 10px;
    }
}

.red {
    background-color: #8b181a;
    a {
        color: #ffffff;
        text-align: center;
        font-family: Georgia, serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 12px;
    }
}

.insta {
    max-width: 20px;
    max-height: 20px;
    text-align: center;
}